<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Informações Técnicas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Relatório de Informações Técnicas</h1>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Tipo de Dispositivo</th>
                    <th>Sistema Operacional</th>
                    <th>Navegador Web</th>
                    <th>Endereço IP</th>
                </tr>
            </thead>
            <tbody>
                {% for info in infos %}
                <tr>
                    <td>{{ info[0] }}</td>
                    <td>{{ info[1] }}</td>
                    <td>{{ info[2] }}</td>
                    <td>{{ info[3] }}</td>
                    <td>{{ info[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
